<div>
  <input [(ngModel)]="filterText" type="text" placeholder="search"/>
  <button (click)="clearFilter()">Clear</button>
</div>
<table *ngIf="plants">
  <thead>
    <tr>
      <th>Common Name</th>
      <th>Image</th>
      <th>Remove Plant</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plant of filterPlants()">
      <td><a routerLink="/detail/{{plant.id}}">{{plant.commonName}}</a></td>
      <td><a routerLink="/detail/{{plant.id}}"><img class="plant-image" src="{{plant.imageUrl}}" /></a></td>
      <td ><button class="delete-btn" (click)="deletePlant(plant)">X</button></td>
    </tr>
  </tbody>
</table>
